{% extends 'base.html.twig' %}

{% block body %}

<html>
	<head>
		<title>Simple Markers</title>

		<style>
			/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
			#map {
				height: 100%;
			}

			/* 
 * Optional: Makes the sample page fill the window. 
 */
			html,
			body {
				height: 100%;
				margin: 0;
				padding: 0;
			}
		</style>

		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script>
			function initMap() {
const myLatLng = {
lat: 36.8981786405991,
lng: 10.18931830171519
};
const map = new google.maps.Map(document.getElementById("map"), {
zoom: 4,
center: myLatLng
});

new google.maps.Marker({position: myLatLng, map, title: "Hello World!"});
}
window.initMap = initMap;
		</script>

		<link rel="stylesheet" type="text/css" href="./style.css"/>
		<script type="module" src="./index.js"></script>
	</head>
	<body>
		<div id="map"></div>

		<!-- 
		     The `defer` attribute causes the callback to execute after the full HTML
		     document has been parsed. For non-blocking uses, avoiding race conditions,
		     and consistent behavior across browsers, consider loading using Promises
		     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
		    -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYheoK_4mEpy9vZQ3Cgc9RF921-zwchGI&callback=initMap"</script>
	</body>
</html>

{% endblock %}