{% extends 'base1.html.twig' %}

{% block title %}Edit Abonnement{% endblock %}

{% block body %}
    <h1>Edit Abonnement</h1>

    {{ include('abonnement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_abonnement_index') }}">back to list</a>

    {{ include('abonnement/_delete_form.html.twig') }}
{% endblock %}
