{% extends 'base1.html.twig' %}

{% block title %}New Abonnement{% endblock %}

{% block body %}
    <h1>Create new Abonnement</h1>

    {{ include('abonnement/_form.html.twig') }}

    <a href="{{ path('app_abonnement_index') }}">back to list</a>
{% endblock %}
