{% extends 'base1.html.twig' %}

{% block title %}Edit TabSeance{% endblock %}

{% block body %}
    <h1>Edit TabSeance</h1>
{% for message in app.flashes('info') %}
<div class="alert alert-warning" style="background-color: #00BFFF;text-align:center;font-size:35px;margin: 25px 100px ;">
{{ message }}
</div>
{% endfor %}
    {{ include('tab_seance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tab_seance_index') }}">back to list</a>

    {{ include('tab_seance/_delete_form.html.twig') }}
{% endblock %}
