{% extends 'base1.html.twig' %}

{% block title %}New TabSeance{% endblock %}

{% block body %}
    <h1>Create new TabSeance</h1>

    {{ include('tab_seance/_form.html.twig') }}

    <a href="{{ path('app_tab_seance_index') }}">back to list</a>
{% endblock %}
